* {
    box-sizing: border-box;
}
html, body {     
    color: #333232;
    max-width: 1024px;
    min-width: 500px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.checked{
    color: rgb(170, 170, 170);
    text-decoration: line-through;
}

ul li:hover {
    background: rgb(221, 233, 248);
}
.remove {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 12px 10px 12px;
}
.edit {
    float:right;
    margin-right: 20px;
}
div{
    float:right;
}
.dropdown-toggle::after {
    border: none!important;
}
.dropdown a{
    color: #333232;
    background-color:rgba(255, 255, 255, 0);
    border: white;
}
.dropdown a:hover, .dropdown a:focus, .dropdown a:active, .dropdown a:checked{
    color: #333232;
    background-color: rgb(221, 233, 248, 0);
    border: rgb(221, 233, 248);
}
.editbox{
    display:block;
    margin-top:5px;
    margin-left:20px;
    position: relative;
    max-width: 90%;
}
.complete{
  position: absolute;
  right: 64px; 
  top: 37px;
  bottom: 9px;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}